* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: hsl(36, 100%, 99%);
  min-height: 100vh;
}

/* Nav styling */

#header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: hsl(36, 100%, 99%);
  padding: 2vh 3vw;
}

#logo {
  transform: scale(0.7);
}

#nav-close {
  position: absolute;
  top: 25px;
  right: 40px;
}

#nav-open {
  padding-right: 7vw;
}

#menu {
  display: none;
  position: absolute;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: hsl(36, 100%, 99%);
  width: 75vw;
  z-index: 10;
}

#menu ul {
  padding-top: 120px;
}

.modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  background-color: hsla(240, 100%, 5%, 0.3);
  z-index: 1;
}

#menu li {
  list-style-type: none;
  padding: 14px 25px;
  color: hsl(240, 100%, 5%);
  font-size: 18px;
}

#menu li:active {
  color: hsl(36, 100%, 99%);
  background-color: hsl(5, 85%, 63%);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "content1"
    "content2"
    "content3";
  grid-row-gap: 60px;
  padding: 12vh 4vw 0 4vw;
  margin: 0 auto;
}

/* Hero display styling */

#c1 {
  grid-area: content1;
}

#desktop-hero {
  display: none;
}

#mobile-hero {
  width: 100%;
  margin: 0 auto;
}

h1 {
  color: hsl(240, 100%, 5%);
  font-weight: 800;
  font-size: 40px;
  line-height: 41px;
  padding: 20px 10px 20px 0;
}

#c1 p {
  color: hsl(236, 13%, 42%);
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 15px;
}

button {
  background-color: hsl(5, 85%, 63%);
  border: none;
  width: 55%;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  color: hsl(36, 100%, 99%);
  padding: 15px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: hsl(240, 100%, 5%);
}

button:active {
  background-color: hsl(240, 100%, 5%);
}

/* 'New' section styling */

#c2 {
  color: hsl(36, 100%, 99%);
  background-color: hsl(240, 100%, 5%);
  grid-area: content2;
}

div#c2 h2 {
  color: hsl(35, 77%, 62%);
  margin: 0 5vw;
  padding-top: 25px;
  font-size: 30px;
}

div.new {
  margin: 0 5vw;
  padding: 30px 0;
}

div.new:nth-child(-n + 3) {
    border-bottom: 0.4px solid hsl(233, 8%, 79%);
}

div.new h3 {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 8px;
  transition: color 0.3s;
}

div.new h3:active {
  color: hsl(35, 77%, 62%);
}

div.new h3:hover {
  color: hsl(35, 77%, 62%);
}

div.new p {
  color: hsl(233, 8%, 79%);
  font-size: 15px;
  line-height: 24px;
  padding-right: 15px;
}

/* Image & article styling */

#c3 {
  grid-area: content3;
}

.card {
  display: grid;
  grid-template-columns: auto 66%;
  grid-template-rows: max-content;
  grid-template-areas: "cardimage cardtext";
  align-items: center;
  grid-column-gap: 23px;
  padding-bottom: 25px;
}

.card img {
  grid-area: cardimage;
  width: 100%;
}

.text {
  grid-area: cardtext;
  display: flex;
  flex-direction: column;
  padding: 3px 0;
  gap: 0.5rem;
}

.card h3 {
  color: hsl(233, 8%, 79%);
  font-size: 30px;
}

.card h4 {
  color: hsl(240, 100%, 5%);
  font-weight: 700;
  font-size: 18px;
  transition: color 0.3s;
}

.card h4:hover {
  color: hsl(5, 85%, 63%);
}

.card h4:active {
  color: hsl(5, 85%, 63%);
}

.card p {
  color: hsl(236, 13%, 42%);
  font-size: 15px;
  line-height: 24px;
  padding-right: 10px;
}

@media screen and (min-width: 900px) {
  #nav-close {
    display: none;
  }

  #nav-open {
    display: none;
  }

  #logo {
    transform: scale(1);
  }

  #header {
    position: fixed;
    top: 0;
    width: 76vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8vh;
    background-color: hsl(36, 100%, 99%);
    padding: 6vh 12vw 2vh 12vw;
  }

  #menu {
    display: inherit;
    position: inherit;
    height: inherit;
    width: 100%;
  }

  #menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    width: 30vw;
  }

  #menu li {
    list-style-type: none;
    color: hsl(236, 13%, 42%);
    font-size: 15px;
    padding: 0;
    transition: color 0.3s;
  }

  #menu li:active {
    color: hsl(5, 85%, 63%);
  }

  #menu li:hover {
    color: hsl(5, 85%, 63%);
  }

  main {
    grid-template-columns: 1fr 32%;
    grid-template-rows: max-content auto;
    grid-column-gap: 32px;
    grid-row-gap: 65px;
    grid-template-areas:
      "hero new"
      "article article";
    padding: 17vh 12vw 0 12vw;
  }

  #c1 {
    grid-area: hero;
    display: grid;
    grid-template-columns: auto 48%;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "image image"
      "title text";
    grid-column-gap: 60px;
    grid-row-gap: 12px;
    align-items: center;
  }

  h1 {
    font-size: 55px;
    line-height: 56px;
    padding: 0;
  }

  #mobile-hero {
    display: none;
  }

  #desktop-hero {
    grid-area: image;
    display: inline;
    width: 100%;
    margin: 0 auto;
  }

  #title {
    grid-area: title;
    align-self: center;
  }

  #text {
    grid-area: text;
    padding-right: 10px;
    padding-top: 25px;
  }

  button {
    margin-top: 20px;
  }

  #c2 {
    grid-area: new;
    padding: 0;

  }

  div#c2 h2 {
    color: hsl(35, 77%, 62%);
    margin: 0 2.5vw;
    padding-top: 32px;
    font-size: 38px;
  }

  div.new {
    margin: 0 2vw;
    padding: 30px 0;
  }

  div.new p {
    padding: 0;
  }

  #c3 {
    grid-area: article;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-template-rows: min-content;
    grid-template-areas: "article1 article2 article3";
  }

  .text {
    padding-right: 15px;
  }

  #card1 {
    grid-area: article1;
  }

  #card2 {
    grid-area: article2;
  }

  #card3 {
    grid-area: article3;
  }
}
